* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-black: #000;
  --color-alabaster: #fafafa;
  --color-white_smoke: #f5f5f5;
  --color-thunder: #2f2e30;
  --color-mountainMist: #949393;
  --color-cantaloupe: #ffad33;
  --color-white: #fff;
  --color-fadedRed: #db4444;
  --color-platinum: #e2e2e2;
  --font--poppins: "Poppins";
  --font-inter: "Inter";
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
  /* outline-color: transparent; */
}
button {
  border-radius: 4px !important;
  cursor: pointer;
}
a {
  text-decoration: none;
}
/* Home page */
.nvbr-container {
  line-height: 48px;
  background-color: var(--color-black, #000);
}
.nvbr__div {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.select-language {
  background-color: var(--color-black, #000);
  border-style: none;
}
.common-poppins {
  font-family: "Poppins";
  font-weight: 400;
}
.wislist-ttl {
  font-size: 20px;
}
.poppins-font500 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.common-poppins__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
}
.inter--font600{
  font-family: "Inter";
font-size: 36px;
font-weight: 600;
}
.common-style__header {
  color: var(--color-alabaster, #fafafa);
  font-size: 14px;
}
.nvbr__left {
  margin: auto;
}
.header-link {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 8px;
}
.header-link:hover {
  text-decoration: none;
}
.navbar {
  margin: auto;
  border-bottom: 0.5px solid var(--color-platinum, #e2e2e2);
}
.navbar__div {
  width: 30%;
}
.navbar-container {
  width: 100%;
  margin: auto;
  height: 94px;
}
.common__display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.display__com {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-title {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.navbar-container--title {
  text-align: center;
}
.navbar-list {
  list-style: none;
  display: flex;
  gap: 48px;
}
.navbar-list__item > a {
  color: var(--color-black, #000);
  font-size: 16px;
}
.navbar-list__item > a:hover,
.form-footer--login:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.navbar-com {
  width: 75%;
  gap: 10px;
}
.navbar-input__div {
  width: 225px;
  height: 38px;
  background-color: var(--color-white_smoke, #f5f5f5);
}
.navbar-input {
  width: 70%;
  background-color: transparent;
  border-color: transparent;
  font-size: 12px;
}
.navbar-user {
  display: none;
}
.footer-section {
  background-color: var(--color-black, #000);
  height: 440px;
}
.footer-container {
  width: 80%;
  height: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}
.copyright {
  text-align: center;
  line-height: 66px;
  border-top: 1px solid var(--color-white, #fff);
}
.footer-container__item {
  width: 100%;
  height: 75%;
  color: var(--color-white, #fff);
}
ul > li {
  list-style: none;
}
.footer-subtitle__style {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 24px;
}
.footer-alt__text {
  color: var(--color-white, #fff);
}
.download {
  display: flex;
  gap: 10px;
}
.footer-icons {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}
.footer-list--item {
  padding: 8px 0px;
}
.download-about {
  font-size: 12px;
}
.footer-icon {
  font-size: 20px;
  width: 24px;
  height: 24px;
  text-align: center;
}
.footer-input__container {
  width: 217px;
  height: 48px;
  border: 1.5px solid var(--color-white, #fff);
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-input {
  width: 85%;
  height: 100%;
  padding: 12px;
  background-color: transparent;
  border-color: transparent;
}
.footer-input:focus-visible {
  outline-style: none;
}
/* Filter Section */
.filter-section {
  height: 523px;
}
.filter-container {
  width: 80%;
  margin: auto;
}
.filter-container--common {
  width: 90%;
  height: 328px;
  background-color: var(--color-black, #000);
}
.filter-container__list {
  width: 25%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  border-right: 1px solid var(--color-platinum, #e2e2e2);
}
.filter-list--item {
  width: 100%;
  height: 30px;
  margin: 0 0 10px 0;
  cursor: pointer;
  > a {
    color: var(--color-black, #000);
  }
}
.filter-container__animation {
  width: 80%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.filter-container--pctr > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.filter-container--txt {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fltr-contr--txt {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.fltr-contr--txt > img {
  width: 190px;
  height: 49px;
  object-fit: cover;
  object-position: 50% 50%;
}
.fltr-txt {
  color: var(--color-white, #fff);
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
}
.fltr-link {
  text-decoration: underline;
}
/* Sign Up Section */
.signUp-section {
  height: 900px;
}
.signUp-container {
  width: 90%;
  margin: 60px 0px;
}
.display__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signUp-container--image {
  width: 59%;
}
.signUp-container--image > img {
  object-fit: cover;
  object-position: center center;
}
.form-header {
  margin-bottom: 38px;
}
.form-title {
  margin-bottom: 24px;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px !important;
}
.form-input {
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 2px;
}
.form-body {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form-button {
  width: 371px;
  height: 56px;
  margin-bottom: 16px;
  border-color: transparent;
}
.form-button__google {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: transparent;
}
.form-google__com,.cardHeader-footer--icons {
  gap: 10px;
}
.form-button__create {
  color: var(--color-white, #fff);
  background-color: var(--color-fadedRed, #db4444);
}
.form-footer {
  text-align: center;
  opacity: 0.7;
  margin-top: 34px;
}
.form-footer--login {
  font-weight: 500;
  margin-left: 16px;
}
/* Log In Section */
.login-form {
  margin-top: 48px;
}
.login-button {
  padding: 16px 48px 16px 48px;
  border-color: transparent;
}
.forgot__password {
  font-size: 16px;
  color: var(--color-fadedRed, #db4444);
}
/* Error Page */
.error-main {
  width: 100%;
  height: 100dvh;
}
.error-section {
  width: 80%;
  height: 60%;
}
.error-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.error-container__title {
  font-family: "Inter";
  font-size: 110px;
  font-weight: 500;
  letter-spacing: 3px;
}
.error-container__button > a,
.fltr-link,
.info-button,
.account-edit--title,
.coupon-btn {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white, #fff);
}
/* About Page */
.about-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: flex-end;
}
.about-container {
  width: 90%;
  height: 100%;
}
.about-title {
  font-family: "Inter";
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 6px;
  margin-bottom: 40px;
}
.about-context {
  margin-top: 24px;
}
.about-left--container {
  width: 90%;
  height: 100%;
}
.about-container--right > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.about-width {
  width: 79%;
}
.activity-section {
  width: 100%;
  height: 400px;
}
.activity-container {
  width: 79%;
  height: 100%;
  margin: auto;
}
.activity-card {
  width: 270px;
  height: 230px;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 4px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.activity-card:hover {
  background-color: var(--color-fadedRed, #db4444);
  color: var(--color-white, #fff);
  border-color: transparent;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  > .activity-div {
    background-color: rgba(225, 225, 225, 0.3);
    > .activity-icon--div {
      background-color: var(--color-white, #fff);
      color: var(--color-black, #000);
    }
  }
}
.activity-div {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.activity-icon--div {
  width: 58px;
  border-radius: 50%;
  height: 58px;
  z-index: 999;
  background: var(--color-black, #000);
  color: var(--color-white, #fff);
  font-size: 24px;
}
.activity-card--number {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
}
.liders-section {
  width: 100%;
  height: 100dvh;
  flex-direction: column;
}
.liders-container {
  width: 80%;
  height: 80%;
  margin: auto;
}
.lider-card--img > img {
  width: 370px;
  height: 430px;
  object-fit: cover;
  object-position: 50% 50%;
}
.lider-card--info {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.lider-card--title {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 500;
}
.card-lider--icon {
  display: flex;
  gap: 15px;
  font-size: 20px;
}
.mainFooter_section {
  width: 100%;
  height: 330px;
}
.mainFooter_container {
  width: 60%;
  height: 80%;
}
.mainFooter-card {
  width: 32%;
  height: 161px;
  flex-direction: column;
  text-align: center;
}
.mainFooter-body__title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}
.poppins-font20 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
}
.poppins-font600 {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
}
.mainFooter-body__subtitle {
  font-size: 14px;
}
.pagination-circle {
  gap: 15px;
}
.circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.3);
}
.crcl1 {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid var(--color-white, #fff);
  background-color: var(--color-fadedRed, #db4444);
  opacity: 1;
}
.crcl {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid var(--color-white, #fff);
  background-color: var(--color-fadedRed, #db4444);
  opacity: 0;
}
.crcl:hover {
  opacity: 1;
}
/* Contact Page */
.contact-section {
  width: 100%;
  height: 100dvh;
}
.contact-container {
  width: 80%;
  height: 70%;
}
.contact-container--detail {
  width: 27%;
}
.contact-com {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.05);
  height: 366px;
}
.contact-container--info {
  width: 65%;
}
.contact-icon {
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 50%;
  color: var(--color-white, #fff);
  background-color: var(--color-fadedRed, #db4444);
}
.contact-connection {
  width: 127px;
}
.contact-message {
  width: 140px;
}
.contact-call {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
}
.detail-info1 {
  display: flex;
  gap: 13px;
  flex-direction: column;
  border-bottom: 1px solid var(--color-mountainMist, #949393);
  padding-bottom: 20px;
}
.detail-info2 {
  gap: 13px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.contact-adress,
.contact-phone {
  font-size: 14px;
  font-weight: 500;
}
.info-input {
  width: 235px;
  height: 50px;
}
.info-textarea {
  margin-top: 26px;
  width: 95%;
  height: 170px;
  max-height: 200px;
  max-width: 95%;
}
.info-com {
  border-radius: 2px;
  border-color: transparent;
  background-color: var(--color-white_smoke, #f5f5f5);
  padding: 10px;
}
.info-button {
  width: 215px;
  height: 56px;
  background: var(--color-fadedRed, #db4444);
  border-color: transparent;
}
.info-btn {
  text-align: end;
  margin-top: 30px;
  width: 95%;
}
/* Account Page */
.account-section {
  width: 80%;
  height: 100dvh;
  margin: auto;
}
.account-container {
  width: 100%;
  height: 85%;
}
.account-list {
  padding: 4px 0px;
}
.account-lists {
  width: 100%;
  padding: 10px 20px;
  color: var(--color-mountainMist, #949393);
}
.account-container--list {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.account-container--detail {
  padding: 20px;
  width: 60%;
  height: 95%;
  display: flex;
  gap: 20px;
  box-shadow: 10px 10px 13px 10px rgba(0, 0, 0, 0.05);
  flex-direction: column;
}
.account-detail--header,
.account-detail--body {
  width: 100%;
}
.account-detail--footer {
  width: 100%;
  height: 40%;
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.account-edit--title {
  color: var(--color-fadedRed, #db4444) !important;
}
.account-input {
  width: 330px;
  height: 50px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
.account-input1 {
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
.account-hd {
  padding-bottom: 8px;
}
.transparent-button {
  padding-right: 20px;
  background-color: transparent;
  border-color: transparent;
}
.account-detail--ftr {
  text-align: end;
}
/* CheckOut Page */
.checkOut-section {
  width: 100%;
  height: 900px;
}
.checkOut-container {
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.checkOut-container--inputs {
  width: 43%;
  height: 100%;
}
.checkOut-input--div {
  padding: 5px 0px;
}
.checkOut-container--coupon {
  width: 50%;
  height: 100%;
}
.chckOut-container--detail {
  width: 85%;
  height: 75%;
  padding: 5px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.checkOut-list--item {
  width: 82%;
  height: 54px;
}
.chckOut-bank {
  gap: 6px;
}
.checkOut-container--input,
.checkOut-list--item2 {
  width: 100%;
  height: 100%;
}
.chckOut-bank__connect > img {
  width: 42px;
  height: 28px;
  object-fit: contain;
  object-position: 50% 50%;
}
.checkOut-placeOrder--button {
  width: 190px;
  height: 56px;
  border-color: transparent;
}
.chck-delivery {
  display: flex;
  gap: 10px;
}
.radio-fullBtn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-black, #000);
}
.chckOut-div--item {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
}
.radio-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1.5px solid var(--color-black, #000);
}
.chckOut-div--price {
  justify-content: flex-end !important;
}
.coupon-container--carts {
  width: 100%;
}
.checkOut-list--items {
  height: auto;
}
.coupon-com {
  width: 82%;
}
.checkOut-input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.chckOut-pharagraf {
  color: var(--color-mountainMist, #949393);
}
.chckOut-save--input {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.checkbox {
  width: 24px;
  height: 24px;
  border-color: transparent;
}
/* Cart Page */
.cart-section {
  width: 80%;
  height: 80px;
  margin: auto;
  margin-bottom: 30px;
}
.cart-container,
.card-list--header,
.list-div {
  width: 100%;
  height: 100%;
}
.cart-body--section {
  width: 100%;
  flex-direction: column;
  height: 600px;
  margin: auto;
}
.cart-body--container {
  width: 80%;
  height: 80%;
}
.cart-footer--section {
  width: 95%;
  margin: auto;
}
.card-list--item {
  width: 100%;
  height: 102px;
  border-radius: 2px;
  box-shadow: 10px 10px 13px 10px rgba(0, 0, 0, 0.05);
}
.count-div {
  width: 72px;
  height: 44px;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  gap: 8px;
  margin: auto;
}
.list-div--item {
  width: 20%;
  height: 100%;
  text-align: center;
}
.fa-chevron-up,
.fa-chevron-down {
  font-size: 14px;
}
.count-upDown {
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.cart-button {
  width: 196px;
  height: 56px;
  border-radius: 4px;
  margin-top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
.coupon-container {
  width: 80%;
  height: 400px;
  display: flex;
  align-items: start;
  margin: auto;
}
.coupon-container--input {
  width: 43%;
}
.coupon-input {
  width: 55%;
  height: 56px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 10px;
}
.coupon-btn {
  width: 211px;
  height: 56px;
  border-color: transparent;
}
.inp-visible:focus-visible {
  outline-color: var(--color-fadedRed, #db4444);
}
.coupon-container--cart {
  width: 57%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.cart-com {
  width: 68%;
  height: 80%;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--color-black, #000);
  box-sizing: border-box;
}
.coupun-cart {
  width: 100%;
  height: 90%;
  flex-direction: column;
}
.cart-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart-list--item {
  padding: 15px 0px;
  border-bottom: 1px solid var(--color-mountainMist, #949393);
}
.coupon-list--btn {
  width: 260px;
  height: 56px;
  border-color: transparent;
}
.cart-list--itemF {
  border-bottom-color: transparent !important;
}
/* WishList Page */
.wishList-sectionOne {
  width: 100%;
  height: 80px;
  margin-top: 50px;
}
.wishList-sectionTwo {
  width: 100%;
  height: 400px;
}
.wishList-container,
.wishList-sectionOne--body {
  width: 80%;
  height: 100%;
  margin: auto;
}
.wishList-sectionOne--button {
  width: 223px;
  height: 56px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.wishList-sectionOne--header,
.wishList-body--cards {
  width: 100%;
  height: 100%;
}
.wishList-card--item {
  width: 22.3%;
  height: 322px;
  box-sizing: border-box;
  border-radius: 4px;
}
.card-item {
  width: 22.3%;
  height: 350px;
}
.wishList-cardItem--header,
.cardItem-header {
  width: 100%;
  display: flex;
  padding: 20px 10px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.wishList-cardItem--minifooter,
.card-item--minifooter {
  padding: 10px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 28.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wishList-cardItem--body,
.card-item--body {
  width: 100%;
  height: 60%;
  position: relative;
  border-radius: 4px;
  flex-direction: column;
  background: var(--color-white_smoke, #f5f5f5);
}
.card-item--body>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wishList-trashIcon,.card-Icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 18px;
  background: var(--color-white, #fff);
}
.card-Icon{
  margin-top: 8px;
}
.wishList--cartIcon {
  font-size: 12px;
}
.wishList-cardItem--footer,
.card-item--footer {
  height: 11.5%;
  background: var(--color-black, #000);
  gap: 8px;
  border-radius: 0px 0px 4px 4px;
  color: var(--color-white, #fff);
}
.wishList-miniFoot {
  color: var(--color-fadedRed, #db4444);
}
.wishList-miniFoot--subtitle {
  color: var(--color-mountainMist, #949393);
  margin-left: 15px !important;
  text-decoration: line-through;
}
.card-section {
  width: 100%;
  height: 700px;
}
.card-container,.card-container1 {
  width: 80%;
  height: 90%;
  flex-direction: column;
  margin: auto;
}
.card-container1{
  height: 70% !important;
}
.card-container--header {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.cardHeader-footer--icons1{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: var(--color-white_smoke,#f5f5f5);
}
.crd-hdr,.card-header--section{
  display: flex;
  align-items: center;
  gap: 15px;
}
.card-text {
  font-size: 20px;
}
.red-box {
  width: 20px;
  height: 40px;
  background-color: var(--color-fadedRed, #db4444);
  border-radius: 4px;
}
.card-btn {
  width: 150px;
  height: 56px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
}
.card-items {
  width: 100%;
}
.star-icons {
  display: flex;
  gap: 10px;
}
.count {
  color: var(--color-mountainMist, #949393);
}
.fa-star {
  color: var(--color-cantaloupe, #ffad33);
}
